<!-- As a heading -->
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="/assets/photo.jpg" width="30" height="30" class="d-inline-block align-top" alt=""> Sohib
  </a>
  <span class="navbar-text">
    Sohib Learning angular
  </span>
</nav>



<div class="container">
  <h1>Learning Angular Derivative</h1>


  <ngb-tabset>
    <ngb-tab title="Email Validtor">
      <ng-template ngbTabContent>
        <div class="row">
          <app-email-form class="col" id="form" (emailHasChanged)="changeEmail($event)"></app-email-form>
          <app-email-alert class="col" [email]="email"></app-email-alert>
        </div>
      </ng-template>
    </ngb-tab>
    
    <ngb-tab id="tab-2">
      <ng-template ngbTabTitle>
        styleing
      </ng-template>
      <ng-template ngbTabContent>
        <div class="row">
          <app-learn-style></app-learn-style>
        </div>
      </ng-template>
    </ngb-tab>


    <ngb-tab id="tab-3">
      <ng-template ngbTabTitle>
        Loops
      </ng-template>
      <ng-template ngbTabContent>
        <div class="row">
          <app-loops></app-loops>
        </div>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>



</div>
